@font-face {
    font-family: LuckiestGuy;
    src:url(Luckiest_Guy.zip);
}
.h1 {color: #0099cc;}
.h1 {
    font-family: Impact;
    font-size: 40px;
}
main p:first-child::first-letter {font-weight: bold;}
main p:first-child::first-letter {font-size: 150%}
main p {text-indent: 2em;}

.container {
    display: flex;
    width: 500px;
    margin: 0px auto;
}
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header header"
    "content sidebar"
    "content sidebar"
}
.grid {
    display: grid;
       grid-template-columns: 900px 900px;
       grid-template-rows: 25% 25% 25%;
       grid-gap: 20px;
       height: 900px;
       width: 100%;
       grid-template-areas:
       "header nav"
       "content sidebar"
       "other sidebar"
}
.Item1 {
    grid-area: header;
}
.Item2 {
    grid-area: content;
}
.Item3 {
    grid-area: nav;
}
.Item4 {
    grid-area: other;
    width: 100%;
}

@media only screen and (max-width: 640px) {
    header {
        position: relative;
        height: 40px;
        display: block;
        width: 100%;
    }
.grid {
  display: grid;
  grid-template-columns: 900px 900px;
  grid-template-rows: 25% 25% 25%;
  grid-gap: 20px;
  height: 900px;
  width: 100%;
    grid-template-areas:
    "nav"
    "header"
    "content"
    "sidebar"
    "footer"
}
#wrapper {width: 100%}
.Item1 {
    grid-area: nav;
    width: 50%;
    padding: 50px;
    text-align: left;
}
.Item2 {
    grid-area: header;
    padding: 50px;
    text-align: left;
    padding: 200px;
    margin: 0;
}
.Item3 {
    grid-area: sidebar;
    height: 600px;
    max-width: 100%;
}
.Item4 {
    grid-area: footer;
    text-align: left;
    padding: 10px;
    width:100%;
}

.grid {
        font-size: smaller;
        width: 100%;
    }
    img {
        width: 50%;
    }
nav:hover ul {
    display: block;
}

nav li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
}

@media print {
    {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 1in;
    }
    .h1,
    .p,
    .ul,
    .blockquote,
    .footer {
        display: none;
        font: serif;
        margin: 1in;
    }
}