@font-face {
    font-family: LuckiestGuy;
    src:url(Luckiest_Guy.zip);
}
body {
    font-family: "Century Gothic";
    background-color: #F2E2FC;
}
.h1 {color: #67DBE9;}
.h1 {
    font-family: Lobster;
    src:url(Lobster.zip);
    font-size: 40px;
    background-color: ivory;
    width: 40%;
}
main p:first-child::first-letter {font-weight: bold;}
main p:first-child::first-letter {font-size: 150%}
main p {text-indent: 2em;}

.container {
    display: grid;
    width: 960px;
    margin: 0px auto;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 20% 40% 20% 10%;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "header image"
    "nav nav"
    "content content"
    "extra other"
    "footer footer"
}

.Item1 {
    grid-area: header;
}
.Item2 {
    grid-area: extra;
    padding: 30px;
}
.Item3 {
    grid-area: image;
}
.Item4 {
    grid-area: content;
    width: 100%;
}
.Item5 {
    grid-area: footer;
    padding:20px;
}

.box {
    background-image: url(IconImages/FooterBackground.jpg);
    background-size: cover;}
@media print {
    {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 1in;

    .h3 {
        display: none;
    }
    .nav li {
        display: none;
    }
    .Item3 {
        display: none;
    }
    .h1,
    .p,
    .blockquote,
    .footer {
        font: sans-serif;
        margin: 1in;
        text-align: center;
    }
@page {
    margin: 1in;
}
@media only screen and (max-width: 640px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 20% 10% 10%;
        gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "nav"
    "image"
    "extra"
    "footer"
    }
    
    header {
        position: relative;
        height: 40px;
        display: block;
        width: 100%;
    }
.Item1 {
    font-size: smaller;
}
.Item3 {
   grid-area: image;
    width: 100%;
}
.Item4 {
    grid-area: footer;
    text-align: left;
    padding: 10px;
    width:100%;
}
.grid {
        font-size: smaller;
        width: 100%;
}